/*_cache/
doc/
*.docx
*-Ex.R
figure/
.httr-oauth
*.knit.md
*.lyx
notebook.nb.html
.Rapp.history
/*.Rcheck/
.RData
*.rds
.Rhistory
.Rproj.user
rsconnect/
/*.tar.gz
*.tex
*.utf8.md
vignettes/*.html
vignettes/*.pdf
*.zip
